1609.04747.pdf
An overview of gradient descent optimization.pdf
Untitled.ipynb
vandermaaten08a.pdf
visual.png
.ipynb_checkpoints/Untitled-checkpoint.ipynb
ConvexFunction/Adam.png
ConvexFunction/momentum.png
ConvexFunction/RSMprop.png
ConvexFunction/SGD.png
SaddlePoint/Adam.png
SaddlePoint/momentum.png
SaddlePoint/RSMprop.png
SaddlePoint/SGD.png
